<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Flight Details</title>
</head>
<body>

    <h1><span data-th-text="${name}"></span>'s Flight Tracker</h1>
    <br>
    <h1>Flight Details(<span data-th-text="${flights.size()}"></span>)</h1>

    <div data-th-each="f: ${flights}">


        <table>
            <tr>
                <td>

                    <p data-th-text="${f.reg_number}"></p>
                    <p data-th-text="${f.flag}"></p>
                    <p data-th-text="${f.aircraft_icao}"></p>
                    <p data-th-text="${f.status}"></p>

                </td>
            </tr>
        </table>
    </div>

</body>  
</html>

